body {
    margin: 0;
    overflow-x: hidden;
    min-width: 100;
}

div {
    border-radius: 5px;
    background-color: #5ce0411c;
    padding: 20px;
}

input[type=text],
select {
    width: 100%;
    background-color: #d0e7d1;
    color: #0a090a;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(49, 189, 36);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgb(49, 189, 36);
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset]:hover {
    background-color: #89a38b;
}